<div ng-controller="FoodieProfileCtrl">
    <form name="foodieProfileForm">
        <div bs-input label="First Name">
            <input type="text"
                   name="firstName"
                   id="firstName"
                   ng-model="foodie.firstName"
                   required>
        </div>
        <div bs-input label="Last Name">
            <input type="text"
                   name="lastName"
                   id="lastName"
                   ng-model="foodie.lastName"
                   required>
        </div>
        <div bs-input label="Email">
            <input type="email"
                   name="email"
                   id="email"
                   ng-model="foodie.emailAddress"
                   required>
        </div>
        <div bs-input label="Home District">
            <input type="text"
                   name="homeDistrict"
                   id="homeDistrict"
                   ng-model="foodie.homeDistrict"
                   disabled>
        </div>
        <div bs-input label="Username">
            <input type="text"
                   name="username"
                   id="username"
                   ng-model="foodie.username"
                   required>
        </div>
        <!-- TODO edit -->
        <!--<button class="btn pull-right" ng-click="submit()">Submit</button>-->
    </form>
</div>