<div ng-controller="FoodTruckProfileCtrl">
    <form>
        <bsinput label="First Name" id="foodTruck.firstName"></bsinput>
        <bsinput label="Last Name" id="foodTruck.lastName"></bsinput>
        <bsinput label="Food Truck Name" id="foodTruck.name"/></bsinput>
        <bsinput label="Username" id="foodTruck.username"></bsinput>
        <div class="form-actions">
            <!-- TODO edit -->
            <!--<button class="btn pull-right" ng-click="submit()">Submit</button>-->
        </div>
    </form>
</div>