<div class="main-container" ng-controller="HomeCtrl">
	<form>
		<fieldset>
			<legend>Where do you want to eat?</legend>
			<div class="control-group">
				<label class="control-label" for="address">Address:</label>
				<div class="controls">
					<textarea blur="geolocate()" ng-model="address" class="span12" rows="4"></textarea>
				</div>
			</div>
		</fieldset>
		<fieldset>
			<legend>When do you want to eat?</legend>
                <div class="span6">
			    	<datepicker ng-model="eatingDate" show-weeks="showWeeks" class="input-block-level" starting-day="1"></datepicker>
                </div>
                <div class="span2 offset4">
			    	<timepicker ng-model="eatingTime" minute-step="30" readonly-input="true"></timepicker>
                </div>
		</fieldset>
		<div class="form-actions">
			<a ng-href="#/votes/{{latitude}}+{{longitude}}/{{eatingDate | date : 'M-d-yy'}} {{eatingTime | date:'shortTime'}}" class="btn btn-large btn-block btn-primary">Submit</a>
  		</div>
  	</form>
 </div>
