<div ng-controller="LoginCtrl" class="row">
    <div class="col-md-6">
        <h2>Login</h2>
        <form name="loginForm" novalidate>
            <div bs-input label="Username" required-msg="Value is required">
                <input type="text"
                       id="username"
                       name="username"
                       required
                       ng-model="login.username">
            </div>
            <div bs-input label="Password" required-msg="Value is required">
                <input type="password"
                       id="password"
                       name="password"
                       required
                       ng-model="login.password">
            </div>
            <button class="btn btn-default btn-primary btn-lg btn-block" ng-click="submit()">Submit</button>
        </form>
    </div>
    <div class="col-md-6 login-register">
        <h2>Register</h2>
        <div class="login-register-container">
            <div class="register-btn-container">
                <a ng-href="#/foodie/registration" class="btn btn-default btn-lg btn-block btn-success">Foodie?</a>
            </div>
            <div class="register-or-container">
                OR
            </div>
            <div class="register-btn-container">
                <a ng-href="#/foodtruck/registration" class="btn btn-default btn-lg btn-block btn-success">Food Truck?</a>
            </div>
        </div>
    </div>
</div>