textarea {
	resize: none;
}

.container-narrow {
	width: 800px;
	margin: 0 auto;
}

.eatingTime {
    margin-top: 90px;
}

.foodTruck {
        padding: 20px;
        border: 1px solid black;
        min-height: 192px !important;
}

#map-canvas {
	border: 1px solid black;
	height: 400px;
	width: 100%;
}

.time-picker {
    margin-top: 10%;
}

.eating-time-display {
    margin-top: 6%;
}

.edit-btn {
    margin-bottom: 9px;
}

.election {
    padding: 5px;
    border: 2px solid #000;
    border-radius: 5px;
    margin: 5px;
    min-height: 175px;
    position: relative;
}

.election-go-vote {
    bottom: 5px;
}