<div class="modal-header clearfix">
    <h3 class="pull-left">Pick a Date and Time</h3>
    <button ng-click="DateTimeCtrl.close()" class="btn pull-right"><i class="icon-remove"></i></button>
</div>
<div class="modal-body">
    <datepicker ng-model="DateTimeCtrl.eatingDate" show-weeks="showWeeks" class="input-block-level" starting-day="1"></datepicker>
    <timepicker ng-model="DateTimeCtrl.eatingTime" minute-step="30"readonly-input="true"></timepicker>
</div>
<div class="modal-footer">
    <button ng-click="DateTimeCtrl.save()" class="btn btn-primary pull-right"><i class="icon-ok"></i> Save</button>
</div>