<div ng-controller="ElectionsCtrl">
    <div class="row-fluid">
        <div class="control-group span4">
            <label class="control-label" for="district">District: </label>
            <div class="controls">
                <select id="district" ng-model="district">
                    <option value=""></option>
                    <option ng-repeat="d in districts" value="{{d.name}}">{{d.name}}</option>
                </select>
            </div>
        </div>
        <div class="control-group span4">
            <label class="control-label" for="startDate">Start Date: </label>
            <div class="controls">
                <input type="text"
                       id="startDate"
                       datepicker-popup="MM/dd/yyyy"
                       ng-model="startDate"
                       is-open="startOpened"
                       ng-required="true" />
                <!--<button class="btn" ng-click="openStart()"><i class="icon-calendar"></i></button>-->
            </div>
        </div>
        <div class="control-group span4">
            <label class="control-label" for="endDate">End Date: </label>
            <div class="controls">
                <input type="text"
                       id="endDate"
                       datepicker-popup="MM/dd/yyyy"
                       ng-model="endDate"
                       is-open="endOpened"
                       datepicker-options="dateOptions"
                       ng-required="true" />
                <!--<button class="btn" ng-click="openEnd()"><i class="icon-calendar"></i></button>-->
            </div>
        </div>
    </div>
    <h3 ng-show="renderNoFiltersText()">Choose your district and date range.</h3>
    <h3 ng-show="renderNoElectionsText()">No Elections!</h3>
    <div ng-repeat="row in electionRows" class="row-fluid">
        <div class="election span4" ng-repeat="e in elections.slice(row, row+2)">
            <h4>{{e.title}}</h4>
            <div class="row-fluid">
                <div class="election-truck-name span6">{{e.foodTruckName}}</div>
                <div class="election-candidates span6">
                    <h5>Candidates:</h5>
                    <ul>
                        <li ng-repeat="c in e.candidates">{{c.displayName}}</li>
                    </ul>
                </div>
            </div>
            <button class="btn btn-primary btn-large btn-block election-go-vote" ng-click="goToElection(e)">Go Vote!</button>
        </div>
    </div>
</div>