<ol class="breadcrumb">
    <li><a href="#/elections">Elections</a></li>
    <li></li>
</ol>
<div>
	<div class="row">
        <div>
            <h4>{{ election.title }}</h4>
            <h5>Polls Close at {{ election.pollClosingDate | date:'MM/dd/yyyy @ h:mma'}}</h5>
        </div>
        <div>
           Serving Time {{ election.servingStartTime | date:'MM/dd/yyyy @ h:mma'}} - {{ election.servingEndTime | date:'MM/dd/yyyy @ h:mma' }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div id="map-canvas"></div>
        </div>
        <div class="col-md-6">
            <label ng-repeat="c in election.candidates" class="radio">
                <input type="radio" ng-model="$parent.candidateChoice" name="candidate" value="{{ c.id }}">
                {{ c.displayName }}
            </label>
            <button class="btn btn-default btn-primary btn-lg btn-block" ng-click="vote()">Vote</button>
        </div>
    </div>
</div>