<div ng-controller="FoodTruckElectionCtrl">
    <h2>Elections</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Serving Time</th>
                <th>Polling Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="e in elections" ng-class="{'success': e.status == 'IN_PROGRESS', 'error' : e.status == 'CANCELED'}">
                <td>{{ e.title }}</td>
                <td>{{ e.pollOpeningDate | date:'MM/dd/yyyy'}} to {{ e.pollClosingDate | date:'MM/dd/yyyy'}}</td>
                <td>{{ e.servingStartTime | date:'MM/dd/yyyy @ h:mma' }} to {{ e.servingEndTime | date:'MM/dd/yyyy @ h:mma'}}</td>
                <td>
                    <div class="btn-group">
                        <button ng-click="chooseCandidate(e)"
                                ng-hide="e.status != 'IN_PROGRESS'"
                                class="btn btn-default btn-primary btn-sm">Make Selection</button>
                        <button
                        <a target="_blank"
                           class="btn btn-default btn-sm"
                           ng-href="/voodie/secure/checkInQrCode?e={{ e.id }}">Get Check In</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <h3>Create New Election</h3>
    <form>
        <div class="row">
            <div class="col-md-6">
                <bsinput label="Title" id="election.title"></bsinput>
                <!-- TODO move date logic to bsinput directive -->
                <div class="form-group">
                    <div><label class="control-label">Serving Date</label></div>
                    <input type="text"
                           class="form-control"
                           id="servingDate"
                           datepicker-popup="MM/dd/yyyy"
                           ng-model="election.servingDate"
                           ng-required="true" />
                </div>

                <div class="form-groups" ng-model="election.servingStartTime">
                    <div><label class="control-label">Serving Start Time</label></div>
                    <timepicker></timepicker>
                </div>

                <div class="form-group" ng-model="election.servingEndTime">
                    <div><label class="control-label">Serving End Time</label></div>
                    <timepicker></timepicker>
                </div>

                <!-- TODO these should just be dates not date time -->
                <div class="form-group">
                    <div><label class="control-label">Poll Opening Date</label></div>
                    <input type="text"
                           class="form-control"
                           id="pollOpeningDate"
                           datepicker-popup="MM/dd/yyyy"
                           ng-model="election.pollOpeningDate"
                           ng-required="true" />
                </div>
                <div class="form-group">
                    <div><label class="control-label">Poll Closing Date</label></div>
                    <input type="text"
                           class="form-control"
                           id="pollClosingDate"
                           datepicker-popup="MM/dd/yyyy"
                           ng-model="election.pollClosingDate"
                           ng-required="true" />
                </div>
                <bsinput label="Allow Write In?" type="checkbox" id="election.allowWriteIn"></bsinput>
            </div>
            <div class="col-md-6">
                <fieldset>
                    <legend>Candidates</legend>
                    <ul>
                        <li ng-repeat="c in election.candidates">
                            {{ c.displayName }}
                        </li>
                    </ul>
                    <bsinput label="Display Name" id="candidate.displayName"></bsinput>
                    <bsinput label="Address" id="candidate.address"></bsinput>
                    <div>
                        <button class="btn btn-default" ng-click="addCandidate()">Add Candidate</button>
                    </div>
                </fieldset>
            </div>
        </div>
        <button class="btn btn-default btn-primary btn-lg pull-right" ng-click="submit()">Create</button>
    </form>
</div>