<div ng-controller="FoodTruckElectionCtrl">
    <a ng-href="#/foodtruck/createElection" class="btn btn-default btn-block btn-large btn-primary">
        <span class=" glyphicon glyphicon-plus"></span> Create New Election
    </a>
    <h2>Elections</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Serving Time</th>
                <th>Polling Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="e in elections">
                <td>{{ e.title }}</td>
                <td>{{ e.pollOpeningDate | date:'MM/dd/yyyy'}} to {{ e.pollClosingDate | date:'MM/dd/yyyy'}}</td>
                <td>{{ e.servingStartTime | date:'MM/dd/yyyy @ h:mma' }} to {{ e.servingEndTime | date:'MM/dd/yyyy @ h:mma'}}</td>
                <td>
                    <div class="btn-group">
                        <button ng-click="viewElection(e)"
                                class="btn btn-default btn-primary btn-sm">View Results</button>
                        <!--<a target="_blank"
                           class="btn btn-default btn-sm"
                           ng-href="/voodie/secure/checkInQrCode?e={{ e.id }}">Get Check In</a>-->
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>