<div ng-controller="FoodTruckViewElectionCtrl">
    <h3>Candidates</h3>
    <div class="row well" ng-repeat="c in election.candidates">
        <div class="col-md-3">
            <span class="h4">{{c.displayName}}</span> <span class="badge">{{c.numberOfVotes}}</span>
        </div>
        <div class="col-md-8 candidate-progress">
            <progress><bar value="candidateProgress[c.id].value" type="candidateProgress[c.id].type"></bar></progress>
        </div>
        <div class="col-md-1">
            <button class="btn btn-default btn-primary" ng-click="makeSelection(c)">Select</button>
        </div>
    </div>
</div>
