<div ng-controller="FoodTruckViewElectionCtrl">
    <ol class="breadcrumb">
        <li><a href="#/foodtruck/elections">Elections</a></li>
        <li>{{election.title}}</li>
    </ol>
    <div ng-hide="!candidateSelected">
        <p>Election Closed.</p>
        <p>The winner is {{election.selectedCandidate.displayName}}</p>
        <p>Share the election results</p>
        <ng-include src="'includes/share-election.html'"></ng-include>
        <div class="row well qr-code-container">
            <a ng-href="/voodie/secure/checkInQrCode?e={{ election.id }}" target="_blank"
               class="btn btn-default btn-block btn-lg">Print QR Code</a>
        </div>
    </div>
    <h3>Results</h3>
    <div class="row well" ng-repeat="c in election.candidates">
        <div class="col-md-3">
            <span class="h4">{{c.displayName}}</span> <span class="badge">{{c.numberOfVotes}}</span>
        </div>
        <div class="col-md-8 candidate-progress">
            <progress><bar value="candidateProgress[c.id].value" type="candidateProgress[c.id].type"></bar></progress>
        </div>
        <div class="col-md-1">
            <button ng-hide="candidateSelected" class="btn btn-default btn-primary" ng-click="makeSelection(c.id)">Select</button>
        </div>
    </div>

    <!-- Selectio made template -->
    <script type="text/ng-template" id="selectionMade.html">
        <div class="modal-header">
            <h3>Election Closed!</h3>
        </div>
        <div class="modal-body">
            <p>An email has been sent to all your Foodies with the results.</p>
            <p>Spread the word!</p>
            <ng-include src="'includes/share-election.html'"></ng-include>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
        </div>
    </script>
</div>
